<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My pagina con node</title>
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navigation') %>

    <h1>Titulo de la pagina </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et veritatis doloribus quod laborum sapiente eaque, quas, dolore quia tempore excepturi reprehenderit minus, odio labore fugiat! Aspernatur pariatur voluptate rerum suscipit.
    </p>
</body>
</html>